@import url('./styles/reset.css');

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./../bg.png');
  background-attachment: fixed;
  background-size: cover;

  min-height: 500px;

  filter: brightness(0.8) contrast(1.2) saturate(1.1) blur(2px) grayscale(50%);
  z-index: -1;
}
