.RangeSlider {
  display: grid;
  position: relative;

  margin-top: 20px;

  width: 200px;
  height: 40px;
}

.RangeInput {
  grid-area: 1 / 1;

  width: 100%;
  height: 20px;

  pointer-events: none;
  appearance: none;
  background: none;
}

.RangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  z-index: 10;

  width: 20px;
  height: 20px;
  margin-top: -8px;
  border-radius: 50%;

  

  transition: 300ms;

  pointer-events: auto;
  cursor: pointer;
}

.RangeInput::-webkit-slider-runnable-track {
  height: 5px;
  border-radius: 10px;

  /* background-color: #1f2721; */
}

.Progress {
  --thumb-width: 20px;

  position: absolute;
  top: 7px;
  left: calc(
    (var(--min-input-value) / var(--range)) * (100% - var(--thumb-width)) +
      (var(--thumb-width) / 2)
  );
  width: calc(
    ((var(--max-input-value) - var(--min-input-value)) / var(--range)) *
      (100% - var(--thumb-width))
  );
  z-index: 2;
  height: 5px;
}

.Output {
  --thumb-width: 20px;

  position: absolute;
  top: -25px;

  left: calc(
    (var(--input-value) / var(--range)) * (100% - var(--thumb-width)) +
      (var(--thumb-width) / 2)
  );
  transform: translateX(-50%);

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  font-size: 14px;
}

.RangeInput::-webkit-slider-thumb:hover {
  transition: 300ms;
}

.Label {
  font-size: 14px;
}

.Label::after {
  content: ':';
}

.green {
  & .Progress {
    background-color: #4a5a42;
  }

  & .RangeInput::-webkit-slider-thumb {
    background-color: #6b8e23;
    box-shadow: 0 0 0 4px inset rgba(50, 65, 40, 0.6);
    border: 1px solid #3a4a32;
  }

  & .RangeInput::-webkit-slider-thumb:hover {
    background-color: #8f9e2e; 
  }

  & .RangeInput::-webkit-slider-runnable-track {
    background-color: #2a3528;
  }
}

.red {
  & .Progress {
    background-color: #5a2a2a;
  }

  & .RangeInput::-webkit-slider-thumb {
    background-color: #8b0000;
    box-shadow: 0 0 0 4px inset rgba(90, 30, 30, 0.6);
    border: 1px solid #4a1a1a;
  }

  & .RangeInput::-webkit-slider-thumb:hover {
    background-color: #a52a2a;
  }

  & .RangeInput::-webkit-slider-runnable-track {
    background-color: #352525;
  }
}

.blue {
  & .Progress {
    background-color: #2a3a4a;
  }

  & .RangeInput::-webkit-slider-thumb {
    background-color: #2f4f4f;
    box-shadow: 0 0 0 4px inset rgba(35, 50, 60, 0.6);
    border: 1px solid #1f2f3f;
  }

  & .RangeInput::-webkit-slider-thumb:hover {
    background-color: #4682b4;
  }

  & .RangeInput::-webkit-slider-runnable-track {
    background-color: #252d35;
  }
}

.purple {
  & .Progress {
    background-color: #2d2535; 
  }

  & .RangeInput::-webkit-slider-runnable-track {
    background-color: #252230;
  }

  & .RangeInput::-webkit-slider-thumb {
    background-color: #4b3658;
    box-shadow: 0 0 0 4px inset rgba(60, 45, 70, 0.6);
    border: 1px solid #3a2c48;
  }

  & .RangeInput::-webkit-slider-thumb:hover {
    background-color: #6a4c7a;
  }
}